@model WebAppProject.Models.User
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Edit";
}

<!--User Edit-->

<h1 class="Page-generic-headline">Edit User</h1>

<div class="ManagerOverviewPageWrapper">
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="UserID" class="create-label"></label>
                <input asp-for="UserID" class="create-input" disabled="disabled" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="FirstName" class="create-label"></label>
                <input asp-for="FirstName" class="create-input" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="LastName" class="create-label"></label>
                <input asp-for="LastName" class="create-input" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div>
                <input type="hidden" asp-for="UserName" />
                <label asp-for="UserName" class="create-label"></label>
                <input asp-for="UserName" class="create-input" disabled="disabled" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Password" class="create-label"></label>
                <input asp-for="Password" class="create-input" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Email" class="create-label"></label>
                <input asp-for="Email" class="create-input" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="EnteranceDate" class="create-label"></label>
                <input asp-for="EnteranceDate" class="create-input" />
                <span asp-validation-for="EnteranceDate" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="PropertyCity" class="create-label"></label>
                <input asp-for="PropertyCity" class="create-input" />
                <span asp-validation-for="PropertyCity" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="PropertyStreet" class="create-label"></label>
                <input asp-for="PropertyStreet" class="create-input" />
                <span asp-validation-for="PropertyStreet" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="PropertyStreetNumber" class="create-label"></label>
                <input asp-for="PropertyStreetNumber" class="create-input" />
                <span asp-validation-for="PropertyStreetNumber" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="ApartmentNumber" class="create-label"></label>
                <input asp-for="ApartmentNumber" class="create-input" />
                <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
            </div>
            @{
                string isAdmin = Context.Session.GetString("IsAdmin");

                if (isAdmin == "true")
                {
                    <div>
                        <label class="create-label">Admin User</label>
                        <input class="create-input" asp-for="IsAdmin" />
                    </div>
                }
            }
            <div>
                <input type="submit" value="Save" class="create-button" />
            </div>
        </form>
        @{
            if (isAdmin == "true") // Only Admin can delete users
            {
                <form asp-action="Delete">
                    <input type="hidden" value="@Model.UserID" name="id" asp-for="UserID" />
                    <input type="submit" id="DeleteSubmitted" value="Delete" class="delete-button" />
                </form>
            }
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $('#DeleteSubmitted').click(function (event) {
        if (!confirm('Are You Sure You Want To Delete This Transaction?')) {
            event.preventDefault();
        }
    })
</script>