*{
    box-sizing: border-box;
}

.NavigationBar {
    background: #40508a;
    height: 66px;
    width: 100%;
}

.NavigationBar *{
    color:white;
}

.NavigationBar .NavBarLogo{
    float:left;
    height: inherit;
    margin-left: 2em;
}

.NavigationBar .logo-text{
    margin: 9px;
    font-family: sans-serif;
    font-size: 40px;
}

    .NavigationBar .logo-text span {
        color: #ff0303;
        font-weight: bold;
        font-size: 45px;
    }

.NavigationBar ul{
    float:right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.NavigationBar ul li{
    float: left;
    position: relative;
    z-index:1;
}

.NavigationBar ul li ul{
    position: absolute;
    top: 66px;
    right: 0px;
    width: 220px;
    display: none;
}

.NavigationBar ul li:hover ul{
    display: block;
    border: 1px solid #00495f;
    box-shadow: 0px 5px 5px 0px #cccccc;
    color: white;
}

.NavigationBar ul li ul li{
    width: 100%;
}

    .NavigationBar ul li ul li a {
        padding: 10px;
        text-align: left;
        height: 55px;
        background: #40508a;
    }

.NavigationBar ul li a{
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
    height: 66px;
    transition: 0.2s;
}

    .NavigationBar ul li a:hover {
        background: #0d163a;
        transition: 0.4s;
        color: white;
    }

.NavigationBar .menu-toggle{
    display:none;
}

/*MEDIA QUERIES*/

@media only screen and (max-width:1080px){

    .NavigationBar{
        position: relative;
    }

    .NavBarHidden {
        width: 100%;
        background: #0E94A0;
        max-height: 0px;
        overflow: hidden;
    }

    .NavBarShown {
        width: 100%;
        background: #0E94A0;
        overflow: hidden;
    }

    .NavigationBar ul li{
        width: 100%;
    }
    .NavigationBar ul li ul{
        position: static;
        display: block;
        width: 100%;
    }

    .NavigationBar ul li ul li a{
        padding-left: 50px;
    }

    .NavigationBar .menu-toggle{
        position: absolute;
        display:block;
        right: 20px;
        top: 18px;
        font-size: 1.9em;
    }

        .NavigationBar .menu-toggle:hover {
            cursor: pointer;
            color: white;
        }

    .NavigationBar .NavBarLogo{
        margin-left: .5em;
    }
}