
.Search-button {
    text-align: center;
    border: none;
    padding: 3px 25px 5px 25px;
    outline: none;
    height: 55px;
    color: #fff;
    font-size: 20px;
    border-radius: 20px;
    background: #1c8adb;
    margin-left: 12.5%;
    transition: all .3s;
}

    .Search-button:hover {
        cursor: pointer;
        background: #39dc79;
        color: #fff;
        transition: all .3s;
        text-decoration: none;
    }

.ManagerOverviewPageWrapper {
    margin: 2% 12.5% 5% 12.5%;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 75%;
    position: relative;
    box-shadow: 3px 0px 3px 5px white;
    min-height: 300px;
}

.ManagerOverviewPageWrapper .class28{
    height: 35px;
    clear:both;
}

    .ManagerOverviewPageWrapper h3 {
        text-align: center;
        padding-bottom: 5px;
        padding-top: 10px;
        background: rgba(0, 0, 0, 0.50);
        border-radius: inherit;
        color: white;
        font-weight: bolder;
        margin-top: 25px;
        border-bottom: 6px solid white;
    }

    .ManagerOverviewPageWrapper .table thead th {
        border-bottom: 10px solid #dee2e6;
        border-top: none;
        font-size:16px;
        text-align:center;
    }

    .ManagerOverviewPageWrapper .table td {
        text-align: center;
    }

.ManagerOverviewPageWrapper .table .OverviewActions {
    text-align: right;
    padding-right: 20px;
    width:280px;
    border-top:none;
    }

    .ManagerOverviewPageWrapper .table .OverviewActions a:hover{
        text-decoration: none;
    }

    .ManagerOverviewPageWrapper .predictions{
        text-align:center;
        padding-top: 2%;
        font-size:x-large;
        font-family:monospace;
    }

    .ImageContainer {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
        margin-left: 25%;
        height: 150px;
    }

.ImageContainer:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    cursor: zoom-in;
}

.ManagerOverviewPageWrapper .Search-type{
    margin-right: 10%;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    color: white;
    font-weight: bold;
    background: #5d515182;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 10px;
    margin-top: 0.5%;
}


input[type=radio] + label, .ManagerOverviewPageWrapper #JoinSearchForm label, .ManagerOverviewPageWrapper #UsersAdvancedSearchForm label{
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    color: white;
    font-weight: bold;
    background: #5d515182;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 10px;
    margin-top: 0.5%;
}

input[type=radio]:hover + label {
    background: #5d5151;
    cursor: pointer;
}

input[type=radio]:checked + label {
    background: #5d5151;
}

.ManagerOverviewPageWrapper #SingleSearchForm label{
    margin-right: 2%;
}

#WaterTransactionStatusDropDown, #PropertyTaxTransactionStatusDropDown, #ElectricityTransactionStatusDropDown, #ApplicationTypeDropDown, #ApplicationStatusDropDown, #JoinedWaterTransaction, #JoinedElectricityTransaction, #JoinedPropertyTaxTransaction {
    width: 100px;
    height: 38px;
    border-radius: 5px;
}

#SingleSearchForm #SearchInput{
    width: 250px;
    margin: 1% 0% 0% 4%;
    height: 40px;
    border-radius: 5px;

}


.ManagerOverviewPageWrapper #UsersAdvancedSearchForm div input {
    width: 150px;
    height: 38px;
    border-radius: 5px;
}


aside {
    width: 11%;
    font-style: italic;
    background-color: #3ab7f226;
    font-size: 18px;
    border-radius:10px;
    float:right;
    position:fixed;
    z-index:1;
    top:200px;
    right:5px;
    overflow-x: hidden;
}

aside h2 {
    font-family: roboto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #40508a;
    color:white;
    padding:10px;
    text-align:center;
}

aside ul li{
    display:block;
}

aside ul{
    margin: 0px 0px 0px 1%;
    padding:0px 5px 5px 3px;
}