@model WebAppProject.Models.ElectricityTransaction

@{
    ViewData["Title"] = "Create";
}

<!--Electricity Transaction-->

<h1 class="Page-generic-headline">New Electricity Transaction</h1>

<div class="ManagerOverviewPageWrapper">
    <div>
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="ElectricityMeterLastRead" class="create-label"></label>
                <input asp-for="ElectricityMeterLastRead" class="create-input" />
                <span asp-validation-for="ElectricityMeterLastRead" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="ElectricityMeterID" class="create-label"></label>
                <input asp-for="ElectricityMeterID" class="create-input" placeholder="Enter your Meter ID number" required />
                <span asp-validation-for="ElectricityMeterID" class="text-danger"></span>
            </div>
            <div>
                <label class="create-label">Image</label>
                <input asp-for="ElectricityMeterImg" id="fileInputField" accept="image/*" placeholder="Choose File" required /> <br>
            </div>
            <div>
                <input type="submit" value="Create" class="create-button" />
            </div>
        </form>
    </div>

    <img class="CRUD_Images" src="~/FrontEndElements/DefaultOverview/electricity-project.jpg" alt="Electricity meter" />


</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $('form').submit(function (event) {
        var fileExtension = $('#fileInputField').val().split('.').pop().toLowerCase();
        switch (fileExtension) {
            case 'jpg':
            case 'jpeg':
            case 'png':
                return true;
            default:
                alert("Only jpg/jpeg/png files are allowed");
                return false;
        }
    })
</script>