@model WebAppProject.Models.ElectricityTransaction
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Edit";
}

<!--Edit Electricity transaction-->

<h1 class="Page-generic-headline">Edit Electricity Transaction</h1>

<div class="ManagerOverviewPageWrapper">
    <div>
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="UserID" class="create-label"></label>
                <input asp-for="UserID" class="create-input" disabled="disabled" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="ElectricityMeterID" class="create-label"></label>
                <input asp-for="ElectricityMeterID" class="create-input" disabled="disabled" />
                <span asp-validation-for="ElectricityMeterID" class="text-danger"></span>
            </div>
            @{
                string isAdmin = Context.Session.GetString("IsAdmin");

                if (isAdmin == "true")
                {
                    <div>
                        <label asp-for="Status" class="create-label"></label>
                        <select asp-for="Status" class="create-input">
                            <option value=@Config.TransactionStatus.Open>Open</option>
                            <option value=@Config.TransactionStatus.Closed>Closed</option>
                        </select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <div>
                        <label asp-for="Status" class="create-label"></label>
                        <input asp-for="Status" class="create-input" disabled="disabled" />
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                }
            }
            <div>
                <label asp-for="ElectricityMeterLastRead" class="create-label"></label>
                <input asp-for="ElectricityMeterLastRead" class="create-input" />
                <span asp-validation-for="ElectricityMeterLastRead" class="text-danger"></span>
            </div>
            <div>
                <label class="create-label">Change image (optional)</label>
                <input asp-for="ElectricityMeterImg" id="fileInputField" accept="image/*" placeholder="Choose file" /> <br>
            </div>
            <div>
                <input type="submit" value="Save" class="create-button" />
                <form asp-action="Delete">
                    <input type="hidden" asp-for="ElectricityMeterID" />
                    <input type="submit" id="DeleteSubmitted" value="Delete" class="delete-button" />
                </form>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $('form').submit(function (event) {
        if ($('#fileInputField').val()) { // Means user filled this field
            var fileExtension = $('#fileInputField').val().split('.').pop().toLowerCase();
            switch (fileExtension) {
                case 'jpg':
                case 'jpeg':
                case 'png':
                    return true;
                default:
                    alert("Only jpg/jpeg/png files are allowed");
                    return false;
            }
        }

        return true; // No file input
    })
</script>

<script>
    $('#DeleteSubmitted').click(function(event) {
        if (!confirm('Are You Sure You Want To Delete This Transaction?')) {
            event.preventDefault();
        }
        
        return true;
    })
</script>