
@{
    ViewData["Title"] = "CreateNewTransaction";
}

<h1>Create New Transaction 12345</h1>

@model PropertyTax
<form asp-action="CreateNewTransaction" enctype="multipart/form-data">
    <b>File Details:</b> <br>
    User ID: <input asp-for="UserID" /> <br>
    Property ID: <input asp-for="PropertyID" /> <br>
    Image: <input asp-for="PropertyTaxContractImg" /> <br>
    <input type="submit" />
</form>

