@model WebAppProject.Models.WaterTransaction

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Water Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WaterMeterLastReadDate" class="control-label"></label>
                <input asp-for="WaterMeterLastReadDate" class="form-control" required/>
                <span asp-validation-for="WaterMeterLastReadDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WaterMeterID" class="control-label"></label>
                <input asp-for="WaterMeterID" class="form-control" required/>
                <span asp-validation-for="WaterMeterID" class="text-danger"></span>
            </div>
            <div class="form-group">
                Image: <input asp-for="WaterMeterImg" id="fileInputField" accept="image/*" required /> <br>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $('form').submit(function (event) {
        var fileExtension = $('#fileInputField').val().split('.').pop().toLowerCase();
        switch (fileExtension) {
            case 'jpg':
            case 'jpeg':
            case 'png':
                return true;
            default:
                alert("Only jpg/jpeg/png files are allowed");
                return false;
        }
    })
</script>
