@model WebAppProject.Models.WaterTransaction

@{
    ViewData["Title"] = "Create";
}

<!--Water Transaction-->

<h1 class="Page-generic-headline">New Water Transaction</h1>

<div class="ManagerOverviewPageWrapper">
    <div>
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="WaterMeterLastReadDate" class="create-label"></label>
                <input asp-for="WaterMeterLastReadDate" class="create-input" required />
                <span asp-validation-for="WaterMeterLastReadDate" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="WaterMeterID" class="create-label"></label>
                <input asp-for="WaterMeterID" class="create-input" placeholder="Enter your Meter ID number" required />
                <span asp-validation-for="WaterMeterID" class="text-danger"></span>
            </div>
            <div>
                <label class="create-label">Image</label>
                <input asp-for="WaterMeterImg" id="fileInputField" accept="image/*" placeholder="Choose File" required /> <br>
            </div>
            <div>
                <input type="submit" value="Create" class="create-button" />
            </div>
        </form>
    </div>

    <img class="CRUD_Images" src="~/FrontEndElements/DefaultOverview/water-project.jpg" alt="Water Meter" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $('form').submit(function (event) {
        var fileExtension = $('#fileInputField').val().split('.').pop().toLowerCase();
        switch (fileExtension) {
            case 'jpg':
            case 'jpeg':
            case 'png':
                return true;
            default:
                alert("Only jpg/jpeg/png files are allowed");
                return false;
        }
    })
</script>
