@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <a asp-controller="ManagerOverview">Manager Overview</a><br>
    <a asp-controller="WaterTransactions">Water Transactions</a><br>
    <a asp-controller="ElectricityTransactions">Electricity Transactions</a><br>
    <a asp-controller="PropertyTaxTransactions">PropertyTaxTransactions</a><br>
    <a asp-controller="ContactApplications">Contact Applications</a>

</div>