@model WebAppProject.Models.PropertyTaxTransaction

@{
    ViewData["Title"] = "Create";
}

<!--Property Tax Transaction-->

<h1 class="Page-generic-headline">New Property Tax Transaction</h1>

<div class="ManagerOverviewPageWrapper">
    <div>
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="PropertyID" class="create-label"></label>
                <input asp-for="PropertyID" class="create-input" placeholder="Enter your Property ID number" required />
                <span asp-validation-for="PropertyID" class="text-danger"></span>
            </div>

            <div>
                <label class="create-label">Image</label>
                <input asp-for="PropertyTaxContractImg" id="fileInputField" accept="image/*" placeholder="Choose File" required /> <br>
            </div>
            <div>
                <input type="submit" value="Create" class="create-button" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script>
    $('form').submit(function (event) {
        var fileExtension = $('#fileInputField').val().split('.').pop().toLowerCase();
        switch (fileExtension) {
            case 'jpg':
            case 'jpeg':
            case 'png':
                return true;
            default:
                alert("Only jpg/jpeg/png files are allowed");
                return false;
        }
    })
</script>
