@model WebAppProject.Models.PropertyTaxTransaction
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Edit";
}

<!--Edit Property tax transaction-->

<h1 class="Page-generic-headline">Edit Property Tax Transaction</h1>


<div class="ManagerOverviewPageWrapper">
    <div>
        <form asp-action="Edit" enctype="multipart/form-data">
            <div>
                <label asp-for="UserID" class="create-label"></label>
                <input asp-for="UserID" class="create-input" disabled="disabled" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="PropertyID" class="create-label"></label>
                <input asp-for="PropertyID" class="create-input" disabled="disabled" />
                <span asp-validation-for="PropertyID" class="text-danger"></span>
            </div>
            @{
                string isAdmin = Context.Session.GetString("IsAdmin");

                if (isAdmin == "true")
                {
                    <div>
                        <label asp-for="Status" class="create-label"></label>
                        <select asp-for="Status" class="create-input">
                            <option value=@Config.TransactionStatus.Open>Open</option>
                            <option value=@Config.TransactionStatus.Closed>Closed</option>
                        </select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <div>
                        <label asp-for="Status" class="create-label"></label>
                        <input asp-for="Status" class="create-input" disabled="disabled" />
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                }
            }
            <div>
                <label class="create-label">Change image (optional)</label>
                <input asp-for="PropertyTaxContractImg" id="fileInputField" accept="image/*" placeholder="Choose file" /> <br>
            </div>
            <div>
                <input type="submit" value="Save" class="create-button" />
            </div>
        </form>
        <form asp-action="Delete">
            <input type="hidden" value="@Model.PropertyID" name="id" asp-for="PropertyID" />
            <input type="submit" id="DeleteSubmitted" value="Delete" class="delete-button" />
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $('form').submit(function (event) {
        if ($('#fileInputField').val()) { // Means user filled this field
            var fileExtension = $('#fileInputField').val().split('.').pop().toLowerCase();
            switch (fileExtension) {
                case 'jpg':
                case 'jpeg':
                case 'png':
                    return true;
                default:
                    alert("Only jpg/jpeg/png files are allowed");
                    return false;
            }
        }

        return true; // No file input
    })
</script>

<script>
    $('#DeleteSubmitted').click(function (event) {
        if (!confirm('Are You Sure You Want To Delete This Transaction?')) {
            event.preventDefault();
        }
    })
</script>