@model WebAppProject.Models.ContactApplication

@{
    ViewData["Title"] = "Create";
}

<!--Create Contact Application-->

<h1 class="Page-generic-headline">New Contact Application</h1>

<aside>
    <h2>Information:</h2>
    <ul>
        <li>On this page you can contact us on any topic you choose: Problems regarding a transaction / Bugs / Improving suggestions.<hr /></li>
        <li>All inquiries will be answered by our call center staff within the next 24 hours.<hr /></li>
        <li>We will be happy to be at your service to provide you with the best user experiences.<hr /></li>
        <li style="text-align:right;">The <span style="color:red; font-weight:bold;">H</span><span style="color:white; font-weight:bold">olders</span> team</li>
    </ul>
</aside>

<div class="ManagerOverviewPageWrapper">

    <div>
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="ContactType" class="create-label"></label>
                <select asp-for="ContactType" style="width:400px;" class="create-input">
                    <option value=@Config.ContactAppType.WaterTransaction>Water</option>
                    <option value=@Config.ContactAppType.ElectricityTransaction>Electricity</option>
                    <option value=@Config.ContactAppType.PropertyTaxTransaction>Property Tax</option>
                </select>
                <span asp-validation-for="ContactType" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Title" class="create-label"></label>
                <input asp-for="Title" class="create-input" style="width:400px;" placeholder="Enter Application's Title.." required />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Message" class="create-label"></label>
                <textarea asp-for="Message" class="create-input" rows="4" style="width:400px; height:85px;" placeholder="Enter Application's Content Here.." required></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div>
                <label class="create-label">Image (Not required)</label>
                <input asp-for="Img" id="fileInputField" style="width:400px;" accept="image/*" placeholder="Choose File.." /><br>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="create-button" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $('form').submit(function (event) {
        if ($('#fileInputField').val()) { // Means user filled this field
            var fileExtension = $('#fileInputField').val().split('.').pop().toLowerCase();
            switch (fileExtension) {
                case 'jpg':
                case 'jpeg':
                case 'png':
                    return true;
                default:
                    alert("Only jpg/jpeg/png files are allowed");
                    return false;
            }
        }

        return true; // No file input
    })

</script>
