@model WebAppProject.Models.ContactApplication
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ContactApplication</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContactAppID" class="control-label"></label>
                <input asp-for="ContactAppID" class="form-control" disabled="disabled" />
                <span asp-validation-for="ContactAppID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactType" class="control-label"></label>
                <select asp-for="ContactType" class="form-control">
                    <option value=@Config.ContactAppType.WaterTransaction>Water</option>
                    <option value=@Config.ContactAppType.ElectricityTransaction>Electricity</option>
                    <option value=@Config.ContactAppType.PropertyTaxTransaction>Property Tax</option>
                </select>
                <span asp-validation-for="ContactType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" disabled="disabled" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                Change Image (Not Required): <input asp-for="Img" id="fileInputField" accept="image/*" /> <br>
            </div>
            @{
                string isAdmin = Context.Session.GetString("IsAdmin");

                if (isAdmin == "true")
                {
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        <select asp-for="Status" class="form-control">
                            <option value=@Config.TransactionStatus.Open>Open</option>
                            <option value=@Config.TransactionStatus.Closed>Closed</option>
                        </select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        <input asp-for="Status" class="form-control" disabled="disabled" />
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                }
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <form asp-action="Delete">
            <input type="hidden" value="@Model.ContactAppID" name="id" asp-for="ContactAppID" />
            <input type="submit" id="DeleteSubmitted" value="Delete" class="delete-button" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $('form').submit(function (event) {
        if ($('#fileInputField').val()) { // Means user filled this field
            var fileExtension = $('#fileInputField').val().split('.').pop().toLowerCase();
            switch (fileExtension) {
                case 'jpg':
                case 'jpeg':
                case 'png':
                    return true;
                default:
                    alert("Only jpg/jpeg/png files are allowed");
                    return false;
            }
        }

        return true; // No file input
    })
</script>

<script>
    $('#DeleteSubmitted').click(function (event) {
        if (!confirm('Are You Sure You Want To Delete This Transaction?')) {
            event.preventDefault();
        }
    })
</script>